<launch>

  <!-- wanderbot launch file -->

  <node pkg="joy" type="joy_node" name="joystick"/>

  <node name="wanderbot" pkg="wanderbot" type="wanderNew.py" output="screen" >
    <remap from="/cmd_vel" to="/cmd_vel_mux/input/teleop"/>
  </node>

  <node name="smach_viewer" pkg="smach_viewer" type="smach_viewer.py" />

</launch>